<!DOCTYPE html>
<html lang="es" dir="ltr">
  {% load static %}
  {% static "" as baseUrl %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Rafael Otero y Vanessa Fernandez">
    <meta property="og:type" content="website">
    <!-- ICONOS -->
    <link rel="icon" href="{% static 'user/img/Logo.ico' %}"
      type="image/x-icon">
    <!-- HOJA DE ESTILOS -->
    <link rel="stylesheet"
      href="{% static 'user/css/fontawesome_all.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/boostrap.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/Font_Colors.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/global.css' %}">
    <!-- INFORMACIÓN DE A PAGINA EN GENERAL -->
    <link rel="canonical" href="URL de la página">
    <meta name="robots" content="index, follow">
    <!-- IMPORTE DE TIPO DE LETRAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap"
      rel="stylesheet">
    <title>Inicia Sesion</title>
  </head>

  <body class="background_login">
    <div class="centered_container column">
      <div class="tamano_completo row">
        <div class="contenedor_imagen one_padding">
          <img src="{% static 'user/img/IA.png' %}" alt>
        </div>

        <h1 style="margin: 0.5rem 0;"><span>Internet de las cosas</span></h1>
      </div>

      <form action="./" class="tamano_completo row" method="POST">
        {% csrf_token %}
          <textarea class="form_control tamano_completo" rows="5"
            style="margin: 10px 0; font-size: 1.7rem;"
            name="send_information" id="send_information" maxlength="150"
            placeholder="Registro conversacion" disabled></textarea>
        <div class="row">
          <button id="btnConversation" type="button" onclick="get_conversacion(event)">Conversacion</button>
          <button id="btnGiveResponse" type="button" onclick="give_response(event)">Responder</button>
        </div>
      </form>
    </div>
  </body>
  <!-- Generales -->
  <script src="{% static 'user/js/jquery.js' %}"></script>
  <script src="{% static 'user/js/generales.js' %}"></script>
  <!-- Font Awesome -->
  <script src="{% static 'user/js/fontawesome_all.min.js' %}"></script>
  <!-- Sweet Alert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
